body{margin: 0; padding: 0}


/*home_page*/

.unica-form {    font-size: 13px;   font-style: italic;    height: 40px;    width: 99% !important;}
.unica-btn-search {position: absolute;right: 28px;top: 12px;background: transparent;color: #f26c4f;font-size: 20px;padding: 6px 20px;}
.unica-search-boxtop { margin-top: 13px; }
.col-sm-4.col-lg-5.col-md-5.cate-sm {margin-top: 0px;}
.unica-active-course { border: 1px solid #555; padding: 9px 10px; border-radius: 3px; display: inline-block; color: #555; margin-top: 13px; }
.unica-active-course:hover { background: #f26c4f; color: #fff; border:1px solid #ccc; }
.unica-active-course i {margin-right: 5px;}
.unica-active-course p { display: inline; }

.unica-cart { color: #999; margin-left: 15px; position: relative; }
.unica-cart i { font-size: 24px; }
.unica-sl-cart { font-size: 10px; border-radius: 25px; border: 1px solid #ccc;
 position: absolute; top: -14px; left: 18px; padding: 1px 5px; }
 
.unica-acc-zone {float: right;margin-top: -41px;}
 .unica-acc-zone li { display: inline-table; }
 .unica-reg-acc { border: 1px solid #555; padding: 9px 19px; border-radius: 3px; display: inline-block; color: #555 }
.unica-log-acc { border: 1px solid #f26c4f; padding: 9px 10px;
 border-radius: 3px; display: inline-block; color: #fff; background: #f26c4f; }
 
 /*header*/
.header ul li {display: inline-block;list-style: none;padding-top: 7px;}
.header ul li.active a {color: blue;}
.header ul li a { font-size: 22px;text-decoration: none;text-transform: uppercase;padding: 6px 12px;color: #403d3d;
  font-family: lato_r;transition: 0.5s;}
.header ul li:hover a {color: blue;transition: 0.5s;}
.header ul {display: inline;}
.header {width: 100%;background-color: #ecf0f1;height: 50px;text-align: center;}
.header.bienhinh {top: 0;position: fixed;background: #ffffff;z-index: 44;transition: 0.5s;
  transform: scale(1);box-shadow: 2px 7px 7px;}

/********************
	.u-bread 
*********************/
.u-bread {background: #f6f6f6;}
.unica-breadcrumb .breadcrumb { padding: 15px 0; margin-bottom: 0; }
.unica-breadcrumb .breadcrumb .breadcrumb-item a{text-decoration: none;font-size: 17px;}



/*************
sidebar
**************/
#sidebar { border: 1px solid #8080805c;margin-top: 30px}
#sidebar ul li {position: relative; padding-left: 20px; margin-right: 20px;list-style: none;
 margin-bottom: 20px; border-top: 1px solid gray}
#sidebar ul li::before{  content: "";color: black; font-family: "FontAwesome";
font-size: 16px; position: absolute; top: 0; left: 0;}
 #sidebar ul li.home::before { content: "\f1cb"; margin:10px 12px;}
 #sidebar ul li.file::before { content: "\f02d"; margin:10px 12px;}
 #sidebar ul li.bars::before { content: "\f1fc";margin:10px 12px; }
 #sidebar ul li a.icon{padding-left: 19px;text-decoration: none;color: black;background: white;}
 #sidebar ul li.home {padding: 11px 15px;}
 #sidebar ul li.icon_i{padding: 11px 15px;border-radius: 4px;}
 #sidebar ul li.icon_i:hover{ color: black}
 #sidebar ul li.icon_i a.icon:hover{color: black}

#sidebar .sidebar_but{padding: 10px; background: red}
#sidabar {border: 1px solid #80808047;margin-top: 20px;}
#sidabar #sidebar_but ul li{list-style: none;display: inline-block;
 padding: 10px 15px; background: gray; margin-bottom: 10px;margin-left: 3px}
#sidabar #sidebar_but ul li a{text-decoration: none;color: white}

/*khoa hoc*/


.sanpham {height: auto; display: flex;flex-wrap: wrap;margin: 0}
.khoi_sp {position: relative;left: 0;top: 0;visibility: visible;width: 31%;height: 350px;overflow: hidden;margin-left: 1em;
	border-radius: 11px;margin-bottom: 2em;border: 1px solid gainsboro;}
img.anh_sp {position: absolute;top: 0;left: 0;z-index: 1;width: 100%;height: 196.55px;}
.nen-sp {position: absolute;top: 0;left: 0;z-index: 2;/* background-color: rgba(255,255,255,0.4); */width: 100%;
    height: 196.55px;opacity: 0;transition: 0.4s;background: linear-gradient(#244b580a, #18525263);}
.nen-sp:hover {opacity: 1;}
.khoi_ic {position: absolute;top: 8px;right: 55px;z-index: 3;opacity: 0;display: inline-block;width: 32px;height: 4em;
    list-style: none;border-radius: 2px;color: #4a4a4a;font-size: 14px;font-weight: 500;cursor: pointer;transition: 0.4s;transform: scale;}
.khoi_sp:hover .khoi_ic {transform: scale;opacity: 1;}
.khoi_ic ul li {list-style: none;padding: 12px 11px 16px 4px;text-align: center;display: inline-block;}
a.icon {background: white;color: black;padding: 10px;width: 8em;height: 9em;transition: 0.1s;box-sizing: border-box;}
a.icon:hover {color: white;background: orange;}
.content-course {position: absolute;bottom: 0px;left: 0;}
h3.tensp {font-size: 18px;font-weight: bold;font-family: unset;margin-left: 0.5em;}
img.img-gv {border-radius: 50%;width: 37px;margin-left: 0.4em;}
span.ten-gv {font-size: 15px;margin-left: 0.5em;}
.evaluate {margin-left: 0.5em;margin-top: 0.5em;padding-top: -1.5em;}
.rate-course i.fa { color: #de4a11;}
span.price-sale {float: right;font-size: 17px;font-weight: bold;}
.price {margin-left: 0.5em;margin-top: 0.5em;}
/*dang ky thÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â nh giang vien*/
div#so4 {padding-top: 50px;}
.khoigiangvien .banner {width: 100%;height: 400px;background-image: url(../images/gv.jpg);position: relative;background-size: cover;
overflow: hidden;}
.banner .h3.td_banner {position: absolute;top: 32%;right: 2%;z-index: 1;font-size: 40px;
text-align: center;color: white;text-transform: uppercase;font-family: lato_r;}
.banner a.nutdk {position: absolute;top: 65%;right: 16%;z-index: 2;font-size: 40px;
color: black;font-family: lato_r;text-transform: uppercase;display: inline-block;background-color: white;padding: 4px 14px;
border-radius: 7px;text-decoration: none;transition: 0.5s;border: 1px solid white;}
a.nutdk:hover {border: 1px solid #454343;color: #3d3dc0;}